@font-face {
  font-family: 'NotoSansKR-Regular';
  font-weight: normal;
  src: url('/src/assets/fonts/NotoSansKR-Medium.ttf') format('truetype');
}

body {
  margin: 0;
}

h1,
h2,
h3,
p,
span,
div,
body {
  font-family: 'NotoSansKR-Regular', sans-serif;
}

/* Ant Design의 폼 요소 폰트 적용 */
input.ant-input,
textarea.ant-input,
.ant-input,
.ant-input-disabled,
.ant-select-selector,
.ant-select-selection-item,
.ant-select-selection-placeholder,
.ant-btn {
  font-family: 'NotoSansKR-Regular', sans-serif;
}
